
<body>
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="inicio-log" aria-label="Product">
                <i class="fas fa-home text-light"></i>
            </a>
            <a class="py-2 d-none d-md-inline-block text-light" href="/inicio.log">INICIO</a>
            <a class="py-2 d-none d-md-inline-block text-light" href="/registro-est">REGISTRO DOCUMENTO</a>
            <a class="py-2 d-none d-md-inline-block text-light" href="/contacto-log">CONTACTO</a>
            <a class="py-2 d-none d-md-inline-block text-light" href="/inicio">CERRAR SESION</a>
        </nav>
    </header>
    <div class="tm-container">   
        <img  src="../assets/img/banner_uleam.png" class="d-block mx-auto img-fluid " >
    </div>

<div class="tm-container bg-white">
    <div>     
        <div class="container-fluid">
            <section class="row tm-mb-1">
                <h2 class="col-12 text-center tm-text-primary tm-my-1 tm-intro-text">UNIVERSIDAD LAICA ELOY ALFARO DE MANABI</h2>

                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-book-open fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Misión</h3>
                        <p>Formar profesionales competentes y emprendedores desde lo académico, la investigación, y la vinculación, que contribuyan a mejorar la calidad de vida de la sociedad.</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                   
                        <i class="fas fa-eye fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Visión</h3>
                        <p>Ser un referente nacional e internacional de Institución de Educación Superior que contribuye al desarrollo social, cultural y productivo con profesionales éticos, creativos, cualificados y con sentido de pertinencia.</p>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-user-friends fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">¿QUIÉNES SOMOS?</h3>
                        <p>
                        Somos una universidad de carácter humanista, con una clara concepción laica en materia educativa que procura la más exigente libertad de enseñanza y cátedra, entendiendo al estudiante como el gran actor de su proceso de formación y al docente como el gran facilitador del futuro profesional.</p>
                    </div>
                </div>
            </section>
        </div>    
    </div>   

    <div class="container-fluid tm-mb-1">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">

                <img src="../assets/img/reina.png" alt="Image" class="img-fluid">
                <div class="card-body">
                  <p class="card-text">El jueves 11 de noviembre del presente año, mediante una noche llena de glamour, luces y emociones, la Universidad Laica Eloy Alfaro de Manabí eligió su nueva soberana<p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Leer Más</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card shadow-sm">

                <img src="../assets/img/noticia2.png" alt="Image" class="img-fluid">
                <div class="card-body">
                  <p class="card-text">La sección de Gestión Medioambiental, del departamento de Seguridad, Ambiente y Salud en el Trabajo, junto a la Facultad de Ciencias Agropecuarias de la Uleam, llevan a</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Leer Más</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                <img src="../assets/img/noticia3.png" alt="Image" class="img-fluid">
                <div class="card-body">
                  <p class="card-text">La Universidad Laica Eloy Alfaro de Manabí (Uleam), cumple este 13 de noviembre 36 años de creación. Será la segunda celebración atípica debido a la pandemia a causa del coronavirus (Covid19). </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Leer Más</button>
                      
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>

                </div>
            </div>      
        </div>
    </div>

    <div class="container-fluid tm-mb-1">
    <div class=" row tm-mb-7">
        <div class="col-lg-4 col-sm-6 mb-lg-0 mb-5">
                    <h3 class="tm-text-primary tm-mb-4">Links de Interes</h3>
                    <nav class="tm-nav-secondary">
                        <ul>
                            <li><a href="https://www.uleam.edu.ec/" target="_blank">Página Web ULEAM</a></li>
                    <li><a href="https://outlook.office365.com/live.uleam.edu.ec" target="_blank">Correo Estudiantil</a></li>
                    <li><a href="https://portal.office.com/" target="_blank">Office 365</a></li>
                    <li><a href="https://www.viceacademico.uleam.edu.ec/" target="_blank">Vicerrectorado Académico</a></li>
                    <li><a href="https://www.uleam.edu.ec/facultades/" target="_blank">Unidades Académicas</a></li>
                    <li><a href="https://www.uleam.edu.ec/contactos/" target="_blank">Contactos</a></li>
                        </ul>
                    </nav>
        </div>

        <div class="col-lg-4 col-sm-6 mb-lg-0 mb-5">
                    <h3 class="tm-text-primary tm-mb-4">Área Estudiantil</h3>
                    <nav class="tm-nav-secondary">
                        <ul>
                            <li><a href="https://observatoriograduados.uleam.edu.ec/" target="_blank">Observatorio de Graduados</a></li>
                    <li><a href="https://departamentos.uleam.edu.ec/vinculacion-colectividad/" target="_blank">Vinculación con la Colectividad</a></li>
                    <li><a href="https://biblio.uleam.edu.ec/" target="_blank">Catálogo de Libros / Biblioteca</a></li>
                    <li><a href="https://departamentos.uleam.edu.ec/alfarotv/" target="_blank">Alfaro TV</a></li>
                    <li><a href="https://departamentos.uleam.edu.ec/departamento-relaciones-internacionales/" target="_blank">Relaciones y Cooperación Internacional</a></li>
                    <li><a href="https://departamentos.uleam.edu.ec/bienestar-estudiantil/" target="_blank">Bienestar Universitario</a></li>
                        </ul>
                    </nav>
        </div>
                
        <div class="col-lg-4 col-sm-6 mb-lg-0 mb-5">
            <h3 class="tm-text-primary tm-mb-4">Redes Sociales</h3>
                    
            <div>
            <a href="https://www.facebook.com/UleamEc" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
            <a href="https://twitter.com/UleamEcuador" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
            <a href="https://www.instagram.com/uleam_ecuador_oficial/" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
            </div>
        </div>

        <footer class="row">
            <p class="mb-0 w-100 text-center col-12">
                &copy; The Backyardigans </p>
        </footer>
    </div> 
    </div>
</div>
</body>
