<!DOCTYPE html>
<html lang="en">
<head>
    <script src="assets/Horario/mostrarDatos.js"></script>
    <script src="assets/Horario/horario.json"></script>
</head>

<body>
    
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" routerLink="inicio" href="/inicio"  aria-label="Product">
                <i class="fas fa-home text-light"></i>                
            </a>
            <a class="py-2 d-none d-md-inline-block text-light" href="/inicio" >INICIO</a>
            <a class="py-2 d-none d-md-inline-block text-light"  href="inicio-sesion">INICIO SESION</a>
      <a class="py-2 d-none d-md-inline-block text-light"  href="/registrarse">REGISTRARSE</a>
            <a class="py-2 d-none d-md-inline-block text-light" href="/contacto">CONTACTO</a>
        </nav>
    </header>

    <div class="tm-container">   
        <img  src="../assets/img/banner_uleam.png " class="d-block mx-auto img-fluid " >
    </div>

    <div class="tm-container bg-white">
        <div class="tm-header-stripe w-100"></div>
        <div class="container-fluid">
            <section class="row tm-mb-1">
                <div class="col-12 text-center mx-auto tm-about-box">
                    <h2 class="tm-text-primary tm-my-1 tm-mb-5 tm-intro-text">Más sobre nosotros</h2>
                    <p>La Universidad Laica “Eloy Alfaro” de Manabí, creada mediante 
                      Ley No. 10 publicada en el Registro Oficial No. 313 de noviembre 13 de 1985, 
                      es una institución de Educación Superior, con personería jurídica de derecho 
                      público sin fines de lucro, de carácter laico, autónoma, democrática, pluralista, 
                      crítica y científica.La Universidad Laica “Eloy Alfaro” de Manabí tiene su sede en Manta, 
                      una de las cinco principales ciudades del Ecuador, ciudad ribereña al mar, centro pesquero 
                      de los mas importantes del Pacifico Sur y ciudad de gran potencialidad en cuanto a desarrollo 
                      turístico, es además una ciudad que se proyecta a futuro como posible puerto de transferencia 
                      internacional. La Universidad fundamentalmente sirve a la juventud de la tercera provincia del 
                      Ecuador que tiene una población que supera el millón doscientos mil habitantes.</p>
                </div>
            </section>

            <div class="row tm-mb-9 tm-contact-row mx-auto">
                <div class="col-lg-7 tm-contact-left">
                    <div class="tm-double-border- tm-border-gray">
                        <div class="tm-double-border-3 tm-border-gray tm-box-pad">
                            <h3 class="tm-text-primary tm-mb-0">Localización</h3>
                            <address class="tm-mb-0"> Av. Circunvalación via San Mateo</address>
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="100%" height="500" id="gmap_canvas"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.2660022715245!2d-80.74788118529914!3d-0.9533682993045349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be16a5ec848cd%3A0xa60ef7d90e068e64!2sUniversidad%20Laica%20Eloy%20Alfaro%20De%20Manabi!5e0!3m2!1ses-419!2sec!4v1636909565721!5m2!1ses-419!2sec%22"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 ml-auto tm-contact-right">
                    <div class="tm-contact-form-wrap">
                        <h3 class="tm-text-primary tm-mb-6">Envianos un mensaje</h3>
                        <form name = "contact" id="contact-form"class="tm-contact-form" >
                            <div class="form-group">
                                <input type="text" name="name" [(ngModel)]="ComentarioModel.nombres" #name class="form-control rounded-0" placeholder="Nombre completo"  />
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" [(ngModel)]="ComentarioModel.correo" #correo class="form-control rounded-0" placeholder="Correo Electronico" />
                            </div>
                            
                            <div class="form-group">
                                <textarea rows="8" name="message" [(ngModel)]="ComentarioModel.mensaje" #message class="form-control rounded-0" placeholder="Mensaje..."></textarea>
                            </div>

                            <div class="form-group mb-0">
                                <button type="submit" (click)="ValidacionComent( name, correo, message)" class="btn btn-3 rounded-0 d-block ml-auto">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

          <div class="container">
            <div class="row tm-mb-5 ">
              <div class="col tm-text-primary">
                <h2>Horario de atencion</h2>
                        <div class="my-3" id="Horario">
                          <table class="table" id="tabla">
                              <thead>
                                  <tr>
                                      <th class="tm-text-primary" >ID</th>
                                      <th class="tm-text-primary">TUTOR</th>
                                      <th class="tm-text-primary">DIA</th>
                                      <th class="tm-text-primary">HORA INICIO</th>
                                      <th class="tm-text-primary">HORA FIN</th>
                                      <th class="tm-text-primary">DIA</th>
                                      <th class="tm-text-primary">HORA INICIO</th>
                                      <th class="tm-text-primary">HORA FIN</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let horario of horario">
                                      <th scope="row">{{horario.id}}</th>
                                      <td>{{horario.Tutor}}</td>
                                      <td>{{horario.Atencion1.Dia}}</td>
                                      <td>{{horario.Atencion1.HoraInicio}}</td>
                                      <td>{{horario.Atencion1.HoraFinal}}</td>
                                      <td>{{horario.Atencion2.Dia}}</td>
                                      <td>{{horario.Atencion2.HoraInicio}}</td>
                                      <td>{{horario.Atencion1.HoraFinal}}</td>

                                  </tr>
                              </tbody>
                          </table>
                           
                      </div>
                    </div>  
            </div>
          </div>
            
            <section class="row tm-mb-7 tm-contact-row mx-auto">
              <h3 class="col-12 tm-text-primary text-center tm-mb-5">Miembros del equipo</h3>
              <div class="col-12">
                  <div class="tm-members">
                      <div class="tm-member">
                          <figure class="text-center effect-bubba mb-4">
                              <img src="../assets/img/paul.png" alt="Image" class="img-fluid">
                              <figcaption>
                                  <div class="tm-member-social">
                                      <a href="https://www.facebook.com/paul.munozlopez/" class="tm-member-social-link"><i class="fab fa-facebook tm-member-social-icon"></i></a>
                                      <a href="https://www.instagram.com/kpml_2001/?hl=es" class="tm-member-social-link"><i class="fab fa-instagram tm-member-social-icon"></i></a>
                                  </div>
                              </figcaption>
                          </figure>
                          <div class="text-center">
                              <span class="d-block mb-1 tm-name">KELVIN MUÑOZ</span>
                              <span class="d-block tm-text-primary">Analista</span>
                          </div>
                      </div>
                      <div class="tm-member">
                          <figure class="text-center effect-bubba mb-4">
                              <img src="../assets/img/manuel.png" alt="100" class="img-fluid">
                              <figcaption>
                                  <div class="tm-member-social">
                                      <a href="https://www.facebook.com/Manuel.pincaygonzalez" class="tm-member-social-link"><i class="fab fa-facebook tm-member-social-icon"></i></a>
                                      <a href="https://twitter.com/manuel_pincay?s=20" class="tm-member-social-link"><i class="fab fa-twitter tm-member-social-icon"></i></a>
                                      <a href="https://www.instagram.com/manuelpincay2001/?hl=es" class="tm-member-social-link"><i class="fab fa-instagram tm-member-social-icon"></i></a>
                                  </div>
                              </figcaption>
                          </figure>
                          <div class="text-center">
                              <span class="d-block mb-1 tm-name">MANUEL PINCAY</span>
                              <span class="d-block tm-text-primary">Programador</span>
                          </div>
                      </div>
                      <div class="tm-member">
                          <figure class="text-center effect-bubba mb-4">
                              <img src="../assets/img/diosito.png" alt="Image" class="img-fluid">
                              <figcaption>
                                  <div class="tm-member-social">
                                      <a href="https://www.facebook.com/profile.php?id=100011287548914" class="tm-member-social-link"><i class="fab fa-facebook tm-member-social-icon"></i></a>
                                      <a href="https://twitter.com/Jesusre36761949" class="tm-member-social-link"><i class="fab fa-twitter tm-member-social-icon"></i></a>
                                      <a href="https://www.instagram.com/jesus_reyes_carreno/?hl=es" class="tm-member-social-link"><i class="fab fa-instagram tm-member-social-icon"></i></a>
                                  </div>
                              </figcaption>
                          </figure>
                          <div class="text-center">
                              <span class="d-block mb-1 tm-name">JESÚS REYES</span>
                              <span class="d-block tm-text-primary">Diseñador</span>
                          </div>
                      </div>
                      <div class="tm-member">
                          <figure class="text-center effect-bubba mb-4">
                              <img src="../assets/img/yudeh.png" alt="Image" class="img-fluid">
                              <figcaption>
                                  <div class="tm-member-social">
                                      <a href="https://www.facebook.com/andres.yudehcedeno" class="tm-member-social-link"><i class="fab fa-facebook tm-member-social-icon"></i></a>
                                      <a href="https://twitter.com/andresyudeh" class="tm-member-social-link"><i class="fab fa-twitter tm-member-social-icon"></i></a>
                                      <a href="https://www.instagram.com/andres_yudeh/" class="tm-member-social-link"><i class="fab fa-instagram tm-member-social-icon"></i></a>
                                  </div>
                              </figcaption>
                          </figure>
                          <div class="text-center">
                              <span class="d-block mb-1 tm-name">ANDRÉS YUDEH </span>
                              <span class="d-block tm-text-primary">Control y Soporte</span>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </section>


            <div class="row tm-mb-9 tm-contact-row mx-auto" >
              <div class="col-lg-4 col-sm-6 mb-lg-0 mb-5">
                  <h3 class="tm-text-primary tm-mb-4">Links de Interes</h3>
                  <nav class="tm-nav-secondary">
                      <ul>
                          <li><a href="https://www.uleam.edu.ec/" target="_blank">Página Web ULEAM</a></li>
                  <li><a href="https://outlook.office365.com/live.uleam.edu.ec" target="_blank">Correo Estudiantil</a></li>
                  <li><a href="https://portal.office.com/" target="_blank">Office 365</a></li>
                  <li><a href="https://www.viceacademico.uleam.edu.ec/" target="_blank">Vicerrectorado Académico</a></li>
                  <li><a href="https://www.uleam.edu.ec/facultades/" target="_blank">Unidades Académicas</a></li>
                  <li><a href="https://www.uleam.edu.ec/contactos/" target="_blank">Contactos</a></li>
                      </ul>
                  </nav>
              </div>

              <div class="col-lg-4 col-sm-6 mb-lg-0 mb-5">
                  <h3 class="tm-text-primary tm-mb-4">Área Estudiantil</h3>
                  <nav class="tm-nav-secondary">
                      <ul>
                          <li><a href="https://observatoriograduados.uleam.edu.ec/" target="_blank">Observatorio de Graduados</a></li>
                  <li><a href="https://departamentos.uleam.edu.ec/vinculacion-colectividad/" target="_blank">Vinculación con la Colectividad</a></li>
                  <li><a href="https://biblio.uleam.edu.ec/" target="_blank">Catálogo de Libros / Biblioteca</a></li>
                  <li><a href="https://departamentos.uleam.edu.ec/alfarotv/" target="_blank">Alfaro TV</a></li>
                  <li><a href="https://departamentos.uleam.edu.ec/departamento-relaciones-internacionales/" target="_blank">Relaciones y Cooperación Internacional</a></li>
                  <li><a href="https://departamentos.uleam.edu.ec/bienestar-estudiantil/" target="_blank">Bienestar Universitario</a></li>
                      </ul>
                  </nav>
              </div>
              
              <div class="col-lg-4 col-sm-6 mb-lg-0 mb-5">
                  <h3 class="tm-text-primary tm-mb-4">Redes Sociales</h3>
                  
                  <div>
                    <a href="https://www.facebook.com/UleamEc" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                    <a href="https://twitter.com/UleamEcuador" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                    <a href="https://www.instagram.com/uleam_ecuador_oficial/" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                </div>
              </div>
            </div>

            <footer class="row">
                <p class="mb-0 w-100 text-center col-12">
                  &copy; The Backyardigans 
                
                </p>
            </footer>
        </div> 
    </div> 

 

</body>
</html>